@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

.quote {
    /* font-family: "Charm", cursive; */
    font-weight: 400;
    font-style: italic;
    font-size: 28px;
    padding-top: 5rem;

    width: 350px;
    margin: 0 auto;
}

q {
        quotes: none;
}

.quote-author {
    font-size: 18px;
    text-align: right;
}

@media (max-width: 500px) {
    .quote {
        width: auto;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: var(--wp--preset--font-size--medium);
    }
}